.active {
  background-color: #635FC7;
  width: 100%;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
}


.item {
  display: flex;
  gap: 16px;
  padding-left: 32px;
  list-style-type: none;
  width: 276px;
  height: 48px;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;

  .boardTitle {
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .boardIconContainer {
    align-self: center;
    max-height: 16px;
    height: max-content;

    .boardIcon {
      max-width: 16px;
      max-height: 16px;
    }
  }
}