@import 'mixins/mixins';
@import 'reset.scss';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/light.scss';


.app {
  width: 100%;
  position: relative;
  font: var(--font-m);
  height: 1px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);

  overflow-x: hidden;
}

.error {
  position: absolute;
  text-align: center;
  min-width: 100px;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b31232;
  z-index: 10;
}