@import 'mixins/mixins';
@import 'reset.scss';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/light.scss';


.app {
  width: 100%;
  position: relative;
  font: var(--font-m);
  height: 1px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);

  overflow-x: hidden;
}

