.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 360px;

  .titleContainer {
    display: flex;
    gap: 12px;

    .title {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 2.4px;
      color: #828FA3;
      text-transform: uppercase;
    }

    .circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  .blockTask {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    min-width: 340px;
    max-width: 360px;
    min-height: 140px;
    max-height: 150px;
    background: #2B2C37;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #828FA3;
    cursor: pointer;

    &:hover {
      background: #25262f;
    }

    .blockText {
      height: 80%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .blockTaskTitle {
        max-width: 320px;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;

        color: #FFFFFF;
        word-break: break-word;
      }
    }

    .blockDate {

      display: flex;
      justify-content: space-between;
    }
  }

}



.todo {
  background: #49C4E5;
}

.doing {
  background: #8471F2;
}

.done {
  background: #67E2AE;
}

.draft {
  background: #2B2C37;
  box-shadow: 0 4px 6px rgba(54, 78, 126, 0.101545);
}
