.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;

    .wrapper {
        padding: 3vw 5vw;
        width: 82vw;
        min-height: 100%;
        transition: all .3s ease-in-out;
    }

    .isOpen {
        width: 98vw;
    }
}

