.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;

    .wrapper {
        padding: 20px 100px;
        width: 82vw;
        min-height: 100%;
    }

    .isOpen {
        //padding: 20px 23px;
    }
}

