.container {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: column;

    .boardCount {
        padding-left: 32px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .addBoardTitle {
        margin-top: 30px;
        padding-left: 32px;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        color: #635FC7;
        cursor: pointer;
    }

}